<template>
  <div>
    <v-text-field
      v-model="searchQuery"
      label="Buscar películas"
      @input="searchMovies"
    />

    <v-container>
      <v-row>
        <v-col v-for="movie in movies" :key="movie.imdbID" cols="12" md="4">
          <MovieCard :movie="movie" @show-details="showMovieDetails" />
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="showDetailsDialog" max-width="600">
      <MovieDetails :movieDetails="selectedMovieDetails" />
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
import MovieCard from "./MovieCard.vue";
import MovieDetails from "./MovieDetails.vue";

export default {
  components: {
    MovieCard,
    MovieDetails,
  },
  data() {
    return {
      searchQuery: "",
      movies: [],
      showDetailsDialog: false,
      selectedMovieDetails: null,
    };
  },
  methods: {
    searchMovies() {
      if (this.searchQuery.length >= 3) {
        axios
          .get(`https://www.omdbapi.com/?apikey=6cb77ac7&s=${this.searchQuery}`)
          .then((response) => {
            this.movies = response.data.Search || [];
          })
          .catch((error) => {
            console.error("Error fetching movies:", error);
          });
      } else {
        this.movies = [];
      }
    },
    showMovieDetails(imdbID) {
      axios
        .get(`https://www.omdbapi.com/?apikey=6cb77ac7&i=${imdbID}`)
        .then((response) => {
          this.selectedMovieDetails = response.data;
          this.showDetailsDialog = true;
        })
        .catch((error) => {
          console.error("Error fetching movie details:", error);
        });
    },
  },
};
</script>

<style scoped>
.v-text-field {
  margin: 20px auto;
  max-width: 37rem;
  width: 100%;
}

.MovieCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.MovieCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
</style>
