<template>
  <v-card class="movie-details">
    <v-card-title class="movie-title">{{ movieDetails.Title }}</v-card-title>
    <v-card-subtitle class="movie-year">{{
      movieDetails.Year
    }}</v-card-subtitle>
    <v-divider></v-divider>
    <v-card-text>
      <p class="movie-info">
        <strong>Director:</strong> {{ movieDetails.Director }}
      </p>
      <p class="movie-info">
        <strong>Actors:</strong> {{ movieDetails.Actors }}
      </p>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    movieDetails: Object,
    dialog: Object,
  },
};
</script>

<style scoped>
.movie-details {
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 100%;
  margin: 0 auto;
}

.movie-title {
  font-size: 2rem !important;
  margin-bottom: 8px;
  justify-content: center;
}

.movie-year {
  font-size: 1.4em;
  color: #777;
  text-align: center;
}

.movie-info {
  margin: 10px 0;
}

.v-divider {
  margin: 10px 0;
}

.v-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
</style>
