<template>
  <v-card @click="showMovieDetails" class="movie-card">
    <v-img class="movie-img" :src="movie.Poster" :alt="movie.Title"></v-img>
    <v-card-title class="movie-title">{{ movie.Title }}</v-card-title>
    <v-card-subtitle class="movie-year">{{ movie.Year }}</v-card-subtitle>
  </v-card>
</template>

<script>
export default {
  props: {
    movie: Object,
  },
  methods: {
    showMovieDetails() {
      this.$emit("show-details", this.movie.imdbID);
    },
  },
};
</script>

<style scoped>
.movie-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.movie-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.movie-year {
  font-size: 1em;
  color: #777;
}
</style>
