<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      app
      temporary
      dark
      src="@/assets/img/bgDrawer.jpg"
    >
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <img src="@/assets/img/logoP.png" alt="Logo" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="title">MOVIES</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider />
     <v-list dense>
        <v-list-item
          v-for="([icon, text, link], i) in items"
          :key="i"
          link
          @click="navigateTo(link)"
          v-show="shouldShowItem(link)"
        >
          <v-list-item-icon class="justify-center">
            <v-icon>{{ icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="subtitile-1">{{ text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      :color="color"
      :flat="flat"
      dark
      class="px-15"
      :class="{ expand: flat }"
    >
      <v-toolbar-title>
        <v-img src="@/assets/img/logoP.png" max-width="50px" />
      </v-toolbar-title>
      <v-spacer />
      <v-app-bar-nav-icon
        @click.stop="drawer = !drawer"
        class="mr-4"
        v-if="isXs"
      />
      <div v-else>
        <div>
          <router-link v-if="showLoginButton" to="/login">
            <v-btn rounded outlined text>
              <span class="mr-2">LOGIN</span>
            </v-btn>
          </router-link>
          <v-btn v-else rounded outlined text @click="goBack">
            <span class="mr-2">HOME</span>
          </v-btn>
        </div>
      </div>
    </v-app-bar>
  </div>
</template>

<style scoped>
.title {
  font-size: 20px;
  font-weight: bold;
}
.v-toolbar {
  transition: 0.6s;
}

.expand {
  height: 80px !important;
  padding-top: 10px;
}
</style>

<script>
export default {
  data: () => ({
    drawer: null,
    isXs: false,
    items: [
      ["mdi-email-outline", "Login", "/login"],
      ["mdi-home-outline", "Home", "/"],
    ],
  }),
  props: {
    color: String,
    flat: Boolean,
  },
  computed: {
    showLoginButton() {
      return this.$route.path !== "/login";
    },
  },
  methods: {
    onResize() {
      this.isXs = window.innerWidth < 850;
    },
    goToLogin() {
      this.$router.push({ name: "login" });
    },
    goBack() {
      this.$router.go(-1);
    },
    navigateTo(route) {
      if (route === '/login' && this.$route.path !== '/login') {
        this.$router.push({ name: 'login' });
      } else if (route === '/' && this.$route.path !== '/') {
        this.$router.push(route);
      } else if (route.startsWith('#')) {
        this.$vuetify.goTo(route);
      } else {
        this.$router.push(route);
        setTimeout(() => {
          this.drawer = false;
        }, 100);
      }
    },

    shouldShowItem(route) {
      if (route === '/login') {
        return this.$route.path === '/';
      } else if (route === '/') {
        return this.$route.path === '/login';
      } else if (route.startsWith('#')) {
        return true;
      } else {
        return true;
      }
    },
  },

  watch: {
    isXs(value) {
      if (!value) {
        if (this.drawer) {
          this.drawer = false;
        }
      }
    },
  },
  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },
};
</script>
